body{
    margin: 0;
}
.navbar{
    display: flex;
    background-color: rgb(51,53,69);
    justify-content: space-between;
    align-items: center;
    padding: 15px 65px;
}
.logo
{
    display: flex;
}
.logo input
{
    width: 500px;
    margin-left: 30px;
    border: 0;
    border-radius: 4px;
    padding-left: 25px;
}
.links a{
    text-decoration: none;
    color: gainsboro;
    margin: 0px 20px;
}
.links a:hover{
 color: white;
}
.links button{
    border: 0;
    background-color: rgb(248,68,100);
    /* background: linear-gradient(orange,white,green); */
    /* background: linear-gradient(to right,purple,green); */
    /* padding: 6px 10px; top & bottom,left & rigth */
    padding: 6px 10px;
    color: white;
    border-radius: 2px;
}
.carousel{
    background-color: rgb(255,255,255);
}
.carousel img{
    margin: 10px 5px;
    border-radius: 5px;
}
.notes
{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.list
{
    display: flex;
    justify-content: space-evenly;
}
.list img{
    width: 230px;
    height: 400px;
    border-radius: 8px;
}
.movies_list{
    padding: 0px 40px;
}
.notes h4{
    color: red;
}
